%btn {
    display: inline-block;
    border-radius: 4px;
    border: transparent;
    font-size: 16px;
}

%btn--style {
    color: var(--third-text-color);
    background-color: var(--accent-color);
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    transition: background-color var(--main-effect), box-shadow var(--main-effect);
}

%social {
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

%logo {
    color: var(--accent-color);
    font-family: var(--font-family-second);
    font-weight: 700;
    font-size: 24px;
}

%visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

%cards-title {
    color: var(--secondary-text-color);
    font-size: 28px;
    text-align: center;
}

%box-shadow-team {
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12);
}

%box-shadow-portfolio {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
        0px 1px 1px rgba(0, 0, 0, 0.12);
}

.btn {
    @extend %btn;
}

.btn--style {
    @extend %btn--style;
}

.visually-hidden {
    @extend %visually-hidden;
}