.pictures {
    @media screen and (min-width: 768px) {
        @include FlexWrap();
        margin: -15px;
    }
}

.pictures__item {
    @media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 60px) / 2);
        margin: 15px;
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 120px) / 3);
    }
}

.pictures__thumb {
    position: relative;
    overflow: hidden;
}

.pictures__overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(101%);
    transition: transform $TimingFunction;
}

.pictures__overlay--text {
    position: absolute;
    top: 77px;
    left: 24px;
    text-align: start;
    @include FontSize(18px, 1.56);
    color: $WhiteTextColor;

    @media screen and (max-width: 479px) {
        top: 25px;
    }

    @media screen and (min-width: 768px) {
        width: 306px;
        top: 49px;
    }

    @media screen and (min-width: 1200px) {
        width: 322px;
        top: 63px;
    }
}

.pictures__link {
    display: flex;
    flex-direction: column;
    height: 100%;

    &:hover,
    &:focus {
        @extend %box-shadow-portfolio;
        transition: box-shadow $TimingFunction;
    }

    &:hover .pictures__overlay,
    &:focus .pictures__overlay {
        transform: translateY(0);
    }
}

.pictures__box {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    flex-grow: 1;
}

.pictures__title {
    margin-bottom: 4px;
    color: $SecondTextColor;
    @include FontSize(18px, 2);
    letter-spacing: 0.06em;

    @media screen and (min-width: 768px) {
        width: 304px;
    }

    @media screen and (min-width: 1200px) {
        width: 320px;
    }
}

.pictures__text {
    @include FontSize(16px, 1.88);
    color: $MainTextColor;
}




