.hero {
    /* background-color: var(--background-color); */
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    display: flex;
    text-align: center;
    align-items: center;
    
    &__button.primary {
            padding: 10px 32px;
            color: var(--third-text-color);
            background-color: var(--accent-color);
            font-family: inherit;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.87;
            letter-spacing: 0.06em;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color var(--main-effect), box-shadow var(--main-effect);
        }
    &__button.primary:hover,
    
    &__button.primary:focus {
        background-color: #188ce8;
    }
    
    &__title {
        color: var(--third-text-color);
        font-size: 44px;
        line-height: 1.36;
        font-weight: 900;
        margin-bottom: 30px;
        letter-spacing: 0.06em;
    }
}

.container-fluid {
    min-height: 600px;
    max-width: 1600px;
    margin: 0 auto;
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../img/background-hero.jpg'), var(--hero-bg-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__title,
.advantages__title {
    text-transform: uppercase;
}



