.team {
    background-color: #f5f4fa;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;

    &-mates {
            display: flex;
        }

    &-card {
        padding: calc(2 * var(--card-list-gap)) 0;
    }

    &-mate {
        width: 270px;
        /* height: 368px; */
        margin-right: 30px;
        background-color: var(--third-text-color);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        margin-top: 0;
        margin-bottom: 0;
        }

    &-mate:last-child {
        margin-right: 0;
    }

    &-mate:last-child {
        padding-right: 0px;
    }

    &-icons-list {
        display: flex;
        justify-content: center;
    }

    &-icon-link {
        display: flex;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        color: var(--social-icon-color);
        transition: background-color var(--main-effect), color var(--main-effect);
    }

    &-icon-link:hover,
    &-icon-link:focus {
        background-color: var(--accent-color);
        color: var(--third-text-color);
    }

    &-icon {
        fill: currentColor;
    }
}

.team-icon-item+.team-icon-item {
    margin-left: 10px;
}




















